@charset "utf-8";

.content {
  max-width: 780px;
  width: 90%;
  margin: 0 auto;
}
.content__inner {
  margin-top: 0;
  width: 240px;
  padding: 10px 30px;
  background-color: #F2EFE8;
  border: 1px solid #C1D4D8;
}
.title {
  margin: 0 auto;
  color: #C1D4D8;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.75;
}
.text {
  height: 25px;
  padding: 2px;
  color: #C1D4D8;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #F9FCFF;
  border: 1px solid #C1D4D8;
}
.button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
  width: 40px;
  color: #F2EFE8;
  font-size: 1rem;
  background-color: #C1D4D8;
  border-color: #C1D4D8;
  border-width: 1px;
  border-style: solid;
  border-radius: 40%;
}
.button:hover {
  color: #C1D4D8;
  border-color: #C1D4D8;
  border-width: 1px;
  background-color: #F9FCFF;
}
.button:focus {
  outline: 0;
}
.numberArea {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
.operatorArea {
  display: flex;
}
.resultBtnArea,
.clearBtnArea {
  display: inline-block;
}